body.single-dashboard.dashboard-widget {
	background-color: #fff;

	.campaign-image {
		img {
			width: 100%;
		}
	}
	.iframe-text-wrapper {
		width:100%;
		height: 37.4rem;
	}
}
.campaign-stats.leaderboard-widget-stats {
	li:first-child {
		border-left: none;
	}
}